.formulario {
  border: 1px solid black;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: -webkit-linear-gradient(
    90deg,
    #29d6d4,
    #00b7e1,
    #0093e3,
    #3068cd,
    #77309a
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    90deg,
    #29d6d4,
    #00b7e1,
    #0093e3,
    #3068cd,
    #77309a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 10px;
}

.botonEnviar {
  background-color: rgb(0, 255, 0);
  border: 1px solid #fff;
  border-radius: 10px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}
